@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

main {
    background: #C0C0C0;
    margin-right: 200px;
    margin-left: 200px;
    padding: 50px 80px;
    font-size: 16px;

}

.colors {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 5px 40px;
    background-color: #fff;
}

.colors__list { 
    flex: 0 1 40%;


}

.colors__unorderlist {

    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center

}

.colorwrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 45px;
    background-color: rgb(80, 78, 75);
    color: #fff;
}

.colorwrapper button {
    border-radius: 15px;
    padding: 2px;
}


.colorwrapper__description {

    width: 350px;
    text-align: center;
}

.color{
    display: flex;

    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;


}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-self: center;
    background-color: #F8F8FF;

}

.color__blue {

    width: 130px;
    padding: 10px;
    border: 3px solid #fff;
    position: relative;
    bottom: 40px;
    font-size: 10px;
    right: 50px;
    background-color: #fff;

}

.color__green {
    width: 130px;
    padding: 10px;
    border: 1px solid #fff;
    font-size: 10px;
    position: relative;
    bottom: 40px;
    background-color: #fff;

}

.color__red {
    width: 130px;
    padding: 10px;
    border: 1px solid #fff;
    margin: 0;
    position: relative;
    font-size: 9px;
    bottom: 40px;
    left: 50px;
    background-color: #fff;

}